<div class="formlog">
  <form>
  <div class="profile-success"></div>
  <h2>Edit</h2>
  <label for="userName">User Name</label>
  <input class="username" type="text" name="userName" required />
  <div class="username-error"></div>
  <label for="email">Email</label>
  <input class="email" type="text" name="email" required />
  <div class="email-error"></div>
  <label for="password">Password</label>
  <input class="newPassword" type="password" name="password" required />
  <div class="password-error"></div>
  <button class="save-btn" type="button">Save</button>
  <p>Return to your <a href="/profile">Account</a></p>
</form>
</div> 

<script src="js/updateProf.js"></script>