<div class="carousel-innerr1">
    <div class="cardwelcome bj">
      <h1>Hello!</h1>
      <p>Here you can see Cryptocurrency price by market capitalization</p>
    </div>
</div>
<!-- Tutaj dodamy tabelkę korzystającą z API i pokazującą aktualne ceny kryptowalut -->
<h1 style="padding: 30px 20px 20px 20px; text-align: center; background-image: linear-gradient(to top, rgb(0, 0, 0) 90%, rgb(116, 33, 179))">Crypto Price Tracker</h1>

<div class="newCryptoTable">
  <table class="tablec">
    <thead>
      <tr>
        <th></th>
        <th>Coin</th>
        <th>Price</th>
        <th>24h %</th>
        <th>24h Volume</th>
        <th>Market Cap</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span id="btcLogo"></span></td>
        <td><strong>Bitcoin</strong> <span id="btcSymbol">...loading...</span></td>
        <td><span id="btcPrice">...loading...</span></td>
        <td><span id="btcChange">...loading...</span></td>
        <td><span id="btcVol">...loading...</span></td>
        <td><span id="btcCap">...loading...</span></td>
      </tr>
      <tr>
        <td><span id="ethLogo"></span></td>
        <td><strong>Ethereum</strong> <span id="ethSymbol">...loading...</span></td>
        <td><span id="ethPrice">...loading...</span></td>
        <td><span id="ethChange">...loading...</span></td>
        <td><span id="ethVol">...loading...</span></td>
        <td><span id="ethCap">...loading...</span></td>
      </tr>
      <tr>
        <td><span id="dogeLogo"></span></td>
        <td><strong>Dogecoin</strong> <span id="dogeSymbol">...loading...</span></td>
        <td><span id="dogePrice">...loading...</span></td>
        <td><span id="dogeChange">...loading...</span></td>
        <td><span id="dogeVol">...loading...</span></td>
        <td><span id="dogeCap">...loading...</span></td>
      </tr>
      <tr>
        <td><span id="xrpLogo"></span></td>
        <td><strong>Ripple</strong> <span id="xrpSymbol">...loading...</span></td>
        <td><span id="xrpPrice">...loading...</span></td>
        <td><span id="xrpChange">...loading...</span></td>
        <td><span id="xrpVol">...loading...</span></td>
        <td><span id="xrpCap">...loading...</span></td>
      </tr>
      <tr>
        <td><span id="shibLogo"></span></td>
        <td><strong>Shiba Inu</strong> <span id="shibSymbol">...loading...</span></td>
        <td><span id="shibPrice">...loading...</span></td>
        <td><span id="shibChange">...loading...</span></td>
        <td><span id="shibVol">...loading...</span></td>
        <td><span id="shibCap">...loading...</span></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="table_data">Updated: <span id="btcTime">...loading...</span></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/tableCur.js"></script>
