<div class="carousel-innerr">
  <% if(!user) { %>
        <div class="cardwelcome">
          <h2>Welcome to DarkCrypto</h2>
          <p>Explore the world of cryptocurrency with us.</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark btnLog"><a href="/login">Log in</a></button>
            <button type="button" class="btn btn-light"><a href="/signup">Sign up</a></button>
          </div>
        </div>
        <% } %>
</div>