<div class="profile">
  <div class="profileDane">
      <div class="profileDane1">
        <% if (user) { %>
              <h1>Hello, <%= user.userName %>!</h1>
              <% } %>
              <section>
                  <h3>That is your information</h3>
                  <ul><% if (user) { %>
                      <li><strong>Email:</strong> <%= user.email %></li>
                      <% } %>
                  </ul>
              </section> 
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <form class="logoutButton" action="/logout">
            <button>Logout</button>
        </form>
        <div class="editButton edit">
          <a href="/edit" class="btn-edit">Edit</a>
        </div>
    </div>
      <form class="deleteButton" id="deleteAccountButton">
          <button type="submit">Delete account</button>
      </form>
</div>
</div>
<script>
  document.getElementById('deleteAccountButton').addEventListener('click', async () => {
    try {
      const response = await fetch('/profile-delete', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await response.json();
      if (data.message === 'Account deleted successfully') {
        window.location.href = "/login";
      } else {
        console.error(data);
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>