.body{
    background-color: #000000 !important;
    font-size: 24px;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
}
header{
    /* background-color: #7527b1 !important; */
    background-image: linear-gradient(to right, #3b125a 0%, rgb(29, 28, 30) 50%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.747);
    border-bottom:3px solid rgb(108, 30, 168);
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.bj{
  box-shadow:inset 2px 2px 2px 0px rgba(115, 30, 175, 0.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
.nav-link{
    color:#ffffff;
}
.navbar-brand{
    padding: 0px 0px 0px 30px;
    font-size: 32px;
    font-weight: bold;
    color:#ffffff;
}
.navbar-nav a:hover{
  color:#9111db !important;
}
.carousel-innerr{
    background-image: url(../img/slider4.jpg);
    background-position: 50% 0%;
    background-attachment: fixed;
    padding: 25% 33% 5% 33%;
    display: flex;
    align-items: center;
}
.carousel-innerr1{
  background-image: url(../img/slider4.jpg);
  background-position: 50% 0%;
  background-attachment: fixed;
  padding: 10% 10% 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardwelcome{
    padding: 4%;
    text-align: center;
    background-color: #000000e5;
    border-radius: 10px;
}
.carousel-innerr h2{
    margin-bottom: 15px;
    color:#9c74e0;
    font-weight: bold;
    text-shadow: 3px 3px 2px #000000 ;
}
.carousel-innerr p{
    font-size: 18px;
    text-shadow: 3px 3px 2px #000000 ;
}
.carousel-innerr a{
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}
.btnLog{
    background-color: #8238bb;
    border-color: #8238bb;
}
footer{
    color:#9c9c9c;
    padding-top: 50px;
    border-top: 2px solid #8238bb;
    font-size: 14px;
}

.formlog form{
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
}
.formlog h2{
    text-align: center;
}
.formlog{
    background-image: radial-gradient(circle,#6c6576, #a588d8, #9061e1, rgb(0, 0, 0));
    color: #000000;
    padding: 6% 5%;
}
.formlog p, a{
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
.formlog label{
    padding-bottom: 5px; 
}
.formlog input{
  margin-bottom: 30px ;
  padding: 10px 12px;
  border-radius: 4px;
  border: 3px solid #8238bb;
  font-size: 1em;
  width: 100%;
}
.formlog button{
  background-color:#9c74e0;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 15px;
  border: 3px solid #5d4685;
}
.formlog button:hover{
    transition: background-color 0.2s ease 0s;
    background-color:#633d8c;
    border: 3px solid #372850;
  }

.profile{
    padding: 6%;
    background-color: #000000;
    background-image: radial-gradient(at 78% 98%, rgb(0, 0, 0) 0, hsla(52, 94%, 68%, 0) 50%),
    radial-gradient(at 30% 69%, rgb(111, 36, 173) 0, hsla(253, 86%, 59%, 0) 50%),
    radial-gradient(at 40% 2%, rgb(0, 0, 0) 0, hsla(149, 91%, 70%, 0) 50%),
    radial-gradient(at 12% 5%, rgb(0, 0, 0) 0, hsla(265, 94%, 55%, 0) 50%),
    radial-gradient(at 17% 97%, rgb(0, 0, 0) 0, hsla(277, 85%, 66%, 0) 50%),
    radial-gradient(at 56% 49%, rgb(22, 9, 30) 0, hsla(218, 95%, 50%, 0) 50%),
    radial-gradient(at 23% 1%, rgb(136, 49, 202) 0, hsla(26, 88%, 64%, 0) 50%);

}
.profileDane{
    background-color: #ffffff15;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.578);
    color:#ffffff;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
}
.logoutButton button{
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(80, 12, 129) 0%, rgb(139, 2, 251) 100%);
  border: 3px solid #010101;
}
.logoutButton button:hover, .btn-edit:hover{
  transition: all 2s ease 0s;
  background: rgb(48, 48, 48);
  background: linear-gradient(0deg, rgb(63, 10, 101) 0%, rgb(107, 1, 193) 100%);
  border: 3px solid #000000;
  }
.editButton{
  margin-top: 13px;
}

.btn-edit{
  margin-left: 20px;
  text-decoration: none;
  color:#000;
  font-size: 24px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(80, 12, 129) 0%, rgb(139, 2, 251) 100%);
  border: 3px solid #010101;
}
.profileDane1{
    color:#000000;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.profileDane1 h1, h3{
    color:#ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}
.profileDane1 p, ul{
    list-style-type:none;
    padding-left: 10%;
}
.profileDane1 ul{
  background-color:#ffffffd1;
  border-radius: 35px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.429);
  padding: 2%;
  list-style-type:none;
  padding-left: 10%;
}
.deleteButton{
    margin-top: 3%;
    display: flex;
    justify-content: right;
}
.deleteButton button{
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.274),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color:#dbdbdb;
  text-shadow: 2px 2px 2px #000;
  padding: 5px 15px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.403);
  background: linear-gradient(0deg, rgba(80, 12, 129, 0.495) 0%, rgba(139, 2, 251, 0.423) 100%);
  border: 3px solid #010101;
  }
.deleteButton button:hover{
  transition: all 2s ease 0s;
  background: rgb(48, 48, 48);
  background: linear-gradient(0deg, rgb(63, 10, 101) 0%, rgb(107, 1, 193) 100%);
  border: 3px solid #000000;
}
.table{
    margin: 0 auto;
    width: 80%;
    border-radius: 15px;
}
.tablecur h1{
    text-align: center;
    margin-bottom: 20px;
}
.tablecur{
    padding: 2% 0px ;
}

/* table with cryptocurrency */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.newCryptoTable html,
body {
  background: #f1f1f1 url(https://gregfreeman.me/projects/random/crypto-bg2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.newCryptoTable p,h1 {
  color: #7c3fb8;
  text-align: center;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.newCryptoTable h1 {
  font-weight: 300;
  text-transform: uppercase;
}

.newCryptoTable img {
  max-width: 40px;
}

.newCryptoTable div {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}

.tablec {
  background: rgba(255, 255, 255, .95);
  color: #000;
  text-align: right;
  margin: 0 auto;
  border-collapse: collapse;
  box-sizing: border-box;
}
.newCryptoTable table {
  background: rgba(255, 255, 255, .95);
  color: #000;
  text-align: right;
  margin: 0 auto;
  border-collapse: collapse;
  box-sizing: border-box;
}
.newCryptoTable tr {
  border-bottom: 1px solid #ccc;
}
.newCryptoTable tr:hover {
  background-color:#602d943b;
}
.tablec th {
  background-color:#612d94 !important;
}

.newCryptoTable th {
  background: #ccc;
  line-height: 25px;
}

.newCryptoTable th, td {
  margin: 0;
  padding: 10px 20px;
}

.newCryptoTable th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: left;
}

.positive {
  color: #6abe2a;
  font-weight: 600;
}

.negative {
  color: #ff0000;
  font-weight: 600;  
}
.table_data{
  padding-top: 5px;
  text-align: center;
}
/* wallet */
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.container2 button{
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.274),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color:#dbdbdb;
  text-shadow: 2px 2px 2px #000;
  padding: 5px 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.403);
  background: linear-gradient(0deg, rgba(115, 18, 183, 0.495) 0%, rgba(139, 2, 251, 0.771) 100%);
  border: 3px solid #010101;
}
.container2 button:hover{
  transition: all 0.5s ease 0s;
  background: rgb(48, 48, 48);
  background: linear-gradient(0deg, rgb(84, 22, 128) 0%, rgb(141, 40, 223) 100%);
  border: 3px solid #000000;
}
.button-container2 {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.content-container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 5%;
}
.cardwallet{
  height: 300px;
  width: 50%;
  background-color:rgb(142, 26, 200);
  margin-right: 5%;
  color:#000;
  padding: 2%;
  border-radius: 35px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.429);
}
.info2 {
  text-align: center;
}
.info2 p{
  background-color:#ffffff;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.381);
  padding: 25px 0px;
}
.walletImg1{
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: url(../img/bitcoin.png) no-repeat;
  background-position: 50% 0%;
}
.walletImg2{
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: url(../img/ethereum.png) no-repeat;
  background-position: 50% 0%;
}
.walletImg3{
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: url(../img/dogecoin.png) no-repeat;
  background-position: 50% 0%;
}
.walletImg4{
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: url(../img/xrp.png) no-repeat;
  background-position: 50% 0%;
}
.walletImg5{
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: url(../img/shiba-inu.png) no-repeat;
  background-position: 50% 0%;
}
.buttonBuy {
  padding: 15% 0 0 0;
}
.buttonBuy button{
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.274),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color:#000000;
  font-weight: bold;
  padding: 5px 35px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.923);
  border: 4px solid #9500ff;
 
}
.buttonBuy button:hover{
  transition: all 0.5s ease 0s;
  background: rgb(202, 138, 255);
  border: 4px solid #9500ff;
  
}
.price2 {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  text-align: center;
}
.priceC {
  color:#000000;
  text-shadow: 1px 2px 2px white;
  margin-top: 20%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  
}
.priceU{
  background-color: rgba(255, 255, 255, 0.584);
  text-decoration: underline;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
/* pay */
.pay {
  background-color: #000000;
  background-image: radial-gradient(at 78% 98%, rgb(0, 0, 0) 0, hsla(52, 94%, 68%, 0) 50%),
  radial-gradient(at 30% 69%, rgb(111, 36, 173) 0, hsla(253, 86%, 59%, 0) 50%),
  radial-gradient(at 40% 2%, rgb(0, 0, 0) 0, hsla(149, 91%, 70%, 0) 50%),
  radial-gradient(at 12% 5%, rgb(0, 0, 0) 0, hsla(265, 94%, 55%, 0) 50%),
  radial-gradient(at 17% 97%, rgb(0, 0, 0) 0, hsla(277, 85%, 66%, 0) 50%),
  radial-gradient(at 56% 49%, rgb(22, 9, 30) 0, hsla(218, 95%, 50%, 0) 50%),
  radial-gradient(at 23% 1%, rgb(136, 49, 202) 0, hsla(26, 88%, 64%, 0) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container5 {
  width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

.field[readonly] {
  background-color: #f0f0f0;
}

.button-container5 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonPay {
  background-color: white;
  color: #000000;
  border: 3px solid rgb(145, 43, 203);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
.buttonPay:hover {
  transition: all 0.5s ease 0s;
  background-color: rgba(147, 45, 215, 0.679);
}
.buttonR{
  position: absolute;
  top: 15px;
  left: 15px;
  justify-content: start;
  text-decoration: none;
  color:#932dbb;
  font-size: 20px;
}
.container5 label{
  color: black;
  font-weight: bold;
}

#parent {
	margin: 0 auto;
  padding: 10% 0 ;
	width: 90%;
}

.menu button {
  background-color: rgba(194, 40, 255, 0.597);
	margin-right: 5px;
	display: inline-block;
	padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px 25px 0 0;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.menu button:hover {
	background: #a9a9a9;
  color:#000;
}
.menu button.active {
	border-color: transparent;
	background: #f2f2f2;
  color:#000;
}

.tabs .tab:not(.active) {
	display: none;
}
.tabs .tab {
	padding: 10px;
	background: #f2f2f2;
	height: 400px;
  border-radius: 0px 25px 25px 25px;
}
